.landingContainer {
  background: linear-gradient(313deg, rgba(255,255,255,0.009) 0%, rgba(255,255,255,0.03) 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect opacity='1%' width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
  margin-top: 1rem;
  width: calc(100vw - 70px);
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px;
  overflow: hidden;
  position: relative;

  @media (max-width: 560px) {
    background: transparent;
  }
}

.title {
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 5rem;
  text-align: center;
  color: #ffffff;
  letter-spacing: 2px;
  

  @media screen and (max-width: 1024px) {
    font-size: 4.5rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 9vw;
  }

  span {
    display: inline-block
  }

  .name1 {
    animation: fall1 2s cubic-bezier(.04,.56,.26,.99);
  }
  .name2 {
    animation: fall2 2.4s cubic-bezier(.23,.77,.61,.93);
  }
}

@keyframes fall1 {
  0% {
    transform: translate(0, -40px);
    opacity: 0;
  }
  30% {
    opacity: 0.03;
  }
  50% {
    transform: translate(0, -40px);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

@keyframes fall2 {
  0% {
    transform: translate(0, -40px);
    opacity: 0;
  }
  30% {
    opacity: 0.03;
  }
  52% {
    transform: translate(0, -40px);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0px);
    opacity: 1;
  }
}

.learnmore {
  margin-top: 70vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .arrow {
    // animation: float 1s infinite;
    // animation-direction: alternate;
    // animation-timing-function: cubic-bezier(.67,0,.34,.98);
    * {
      color: white;
    }
  }
}

// @keyframes float {
//   from {
//     transform: translate(0, 0px);
//   }
//   to {
//     transform: translate(0, 7px);
//   }
// }

.trackContainer {
  border: 1px #ffffff55 solid;
  border-radius: 50px;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.trackAbout {
  white-space: nowrap;
  will-change: transform;
  animation: inf-track 7s linear infinite;
  div {
    font-size: 1.2rem;
  }
}

@keyframes inf-track {
  from { transform: translateX(-50.5%); }
  to { transform: translateX(0%); }
}

.about {
  height: 100vh;
  padding: 0;
  margin-top: 100px;
  overflow: hidden;
  @media screen and (max-width: 768px) {
    margin-top: 200px;
    height: 108vh;
  }
  @media screen and (max-width: 700px) {
    height: 105vh;
  }
  @media screen and (max-width: 450px) {
    height: 102vh;
  }

  .abtFlex {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    
    @media screen and (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: center;
    }
  }

  .left {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    @media screen and (max-width: 1536px) {
      width: 50%;
    }
    @media screen and (max-width: 768px) {
      width: 85%;
      margin-top: 50px;
    }
    @media screen and (max-width: 500px) {
      width: 90%;
      margin-top: 30px;
    }
    @media screen and (max-width: 500px) {
      margin-top: 10px;
    }

    div {
      font-size: 1.15rem;
      line-height: 1.5em;
      margin: 1em 0;
      font-weight: 300;

      @media screen and (max-width: 1280px) {
        font-size: 1rem;
        line-height: 1.8em;
      }
      @media screen and (max-width: 768px) {
        font-size: 1.1rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1rem;
      }
    }
    
    .socials {
      margin-top: 3em;
      display: flex;
      align-items: center;
      height: 100px;

      @media screen and (max-width: 768px) {
        margin-top: 2em;
        flex-direction: column;
      }

      * {
        margin: 0 2em 0 0;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
        transform: translate(0, 0px);
        transition: all 0.3s; 

        @media screen and (max-width: 768px) {
          font-size: 1.3rem;
          margin: 0.4em 0;
        }
        @media screen and (max-width: 500px) {
          font-size: 1.2rem;
        }
      }
      @media screen and (min-width: 769px) {
        a:hover {
          transition: all 0.1s; 
          transform: translate(0, 2px);
        }
      }
      p {
        text-align: center;
        span {
          font-size: 0.8rem;
          line-height: 1em;
          font-weight: 400;
          background: -webkit-linear-gradient(0deg, rgb(90, 176, 111) 0%, rgb(152, 84, 173) 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        @media screen and (min-width: 769px) {
          display: none;
        }
      }
      div {
        @media screen and (max-width: 768px) {
          display: none;
        }
        position: relative;
        margin: 0;
        .copyText {
          cursor: default;
          text-align: center;
          width: 100%;
          position: absolute;
          left: 0;
          top: 40px;
          
          background: -webkit-linear-gradient(0deg, rgb(90, 176, 111) 0%, rgb(152, 84, 173) 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1rem;
          @media screen and (max-width: 768px) {
            font-size: 0.9rem;
          }
          @media screen and (max-width: 500px) {
            font-size: 0.8rem;
          }
          font-weight: 400;
        }
      }
    }
  }

  .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 30%;

    @media screen and (max-width: 1536px) {
      width: 37%;
    }
    @media screen and (max-width: 768px) {
      width: 60%;
    }
    @media screen and (max-width: 500px) {
      width: 70%;
    }
    @media screen and (max-width: 500px) {
      width: 80%;
    }
    
    /* .imgContainer * {
      border-radius: 50px;
    } */

  }

  // .trackRotate {
  //   transform: rotate(90deg);
  // }

  // .track {
  //   white-space: nowrap;
  //   will-change: transform;
  //   animation: inf-track 15s linear infinite;

  //   div {
  //     font-size: 1.2rem;
  //   }
  // }
}

// @keyframes inf-track {
//   from { transform: translateX(-50%); }
//   to { transform: translateX(-3200%); }
// }