.subtitle {
  * {
    user-select: none;
  }
}

.title {
  letter-spacing: 1px;
  margin: 0 0 20px 0;
  line-height: 1.15;
  font-size: 5rem;
  text-align: center;

  @media screen and (max-width: 1024px) {
    font-size: 4.5rem;
  }
  @media screen and (max-width: 768px) {
    font-size: 9vw;
  }

  span {
    color: #ffffffee;
    &:hover {
      color: transparent;
      -webkit-text-stroke: 2px #ffffffee;
      cursor: default;
      span {
        color: transparent;
        -webkit-text-stroke: 2px #ffffffee;
      }
    }

    span {
      letter-spacing: 5px;
    }
  }
}

.learnmore {
  margin-top: 80vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 1.2rem;
  }

  // div {
  //   animation: float 1s infinite;
  //   animation-direction: alternate;
  //   animation-timing-function: cubic-bezier(.67,0,.34,.98);

  // }
}

@keyframes float {
  from {
    transform: translate(0, 0px);
  }
  to {
    transform: translate(0, 10px);
  }
}

.about {
  min-height: 100vh;
  padding: 0;
  overflow-y: hidden;
  overflow-x: visible;
  margin-top: 100px;
  .abtFlex {
    display: flex;
    min-height: 100vh;
    justify-content: space-between
  }

  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;

    div {
      font-size: 1.2rem;
      line-height: 1.5em;
      margin: 1em 0;
    }
    
    .socials {
      margin-top: 3em;
      display: flex;
      align-items: center;
      height: 100px;

      * {
        margin: 0 2em 0 0;
        font-size: 1.4rem;
        font-weight: 600;
        cursor: pointer;
        transform: translate(0, 0px);
        transition: all 0.3s; 
      }
      a:hover {
        transition: all 0.1s; 
        transform: translate(0, 2px);
      }
      div {
        position: relative;
        margin: 0;
        .copyText {
          cursor: default;
          user-select: none;
          text-align: center;
          width: 100%;
          position: absolute;
          left: 0;
          top: 40px;
          
          background: -webkit-linear-gradient(0deg, rgb(94, 182, 202) 0%, rgb(152, 84, 173) 100%);
          background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 1rem;
          font-weight: 400;
        }
      }
    }
  }

  .right {
    width: 50px;
  }

  // .trackRotate {
  //   transform: rotate(90deg);
  // }

  // .track {
  //   white-space: nowrap;
  //   will-change: transform;
  //   animation: inf-track 15s linear infinite;

  //   div {
  //     font-size: 1.2rem;
  //     user-select: none;
  //   }
  // }
}

.trackContainer {
  border: 1px #ffffff55 solid;
  border-radius: 50px;
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.trackAbout {
  white-space: nowrap;
  will-change: transform;
  animation: inf-track 5s linear infinite;
  div {
    font-size: 1.2rem;
    user-select: none;
  }
}

// @keyframes inf-track {
//   from { transform: translateX(-50%); }
//   to { transform: translateX(-3200%); }
// }

@keyframes inf-track {
  from { transform: translateX(-50.5%); }
  to { transform: translateX(0%); }
}