.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    width: 1200px;
    height: 600px;

    .gI1 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(53, 176, 43, 0.2) 100%);
    }
    .gI2 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(55, 76, 105, 0.2) 100%);
    }
    .gI3 {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(73, 190, 216, 0.2) 100%);
    }
}

.gridItem {
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px white solid;
    .taDisplayItem {
        user-select: none;
        position: absolute;
        transform: skew(0deg, 0deg);
        transition: all 0.3s;
    }
    &:hover {
        .taDisplayItem {
            transform: skewX(-5deg) rotateZ(-5deg) scaleX(0.9);
            transition: all 0.3s;
        }
    }
}

.taDisplay {
    position: relative;
    height: 300px;
    width: 80%;
    * {
        border-radius: 15px;
    }
    .taDisplay1 {
        z-index: 2;
    }
    .taDisplay2 {
        // display: none;
        z-index: 1;
        top: 10px;
        left: 80px;
    }
    .taDisplay3 {
        // display: none;
        top: 20px;
        left: 160px;
    }
}