.main {
    min-height: 100vh;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 20vh;
  }

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    width: 1200px;
    // height: 600px;
    height: 560px;
    margin-bottom: 50px;

    .gI1 {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(53,176,43,0.03) 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect opacity='3%' width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
    .gI2 {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(55, 76, 105, 0.08) 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect opacity='3%' width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
    .gI3 {
        background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(73, 190, 216, 0.03) 100%), url("data:image/svg+xml,%3Csvg viewBox='0 0 250 250' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect opacity='3%' width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
}

.gridItem {
    backdrop-filter: blur(100px);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px #ffffff55 solid;
    .appDisplayItem {
        user-select: none;
        position: absolute;
        transform: skew(0deg, 0deg);
        transition: all 0.6s ease-in-out;
    }
    &:hover {
        .appDisplayItem {
            transform: skewX(-4deg) rotateZ(-4deg) scaleX(0.95);
            transition: all 0.6s ease-in-out;
        }
    }
    .siteDisplayItem {
        user-select: none;
        position: absolute;
        transform: skew(0deg, 0deg);
        transition: all 0.6s ease-in-out;
    }
    &:hover {
        .siteDisplayItem {
            transform: skewX(-3deg) rotateZ(-3deg) scaleX(0.95);
            transition: all 0.6s ease-in-out;
        }
    }
}

.lower {
    text-align: center;
    padding: 0 25px;

    p {
        font-size: 0.75rem;
        line-height: 1.8em;
    }

    h3 {
        margin-bottom: 0.7em;
    }

    .tools {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .tool {
        font-size: 0.7rem;
        color: #ffffff55;

        padding: 0.6em 0.9em;
        margin: 0.2em;
        border: 1px #ffffff22 solid;
        border-radius: 25px;
        user-select: none;
    }

    .links {
        display: flex;
        justify-content: center;
        margin: 30px 0 10px 0;
    }
    .link {
        color: #ffffffcc;
        padding: 0.8em 0.8em 0.6em 0.8em;
        margin: 0 0.5em;
        border: 1px #ffffff44 solid;
        background-color:#ffffff0a;
        border-radius: 20px;
        user-select: none;
        transition: all 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
            color: #ffffffee;
            background-color: #ffffff0e;
            border: 1px #ffffff66 solid;
            transition: all 0.3s ease-in-out;
        }

        * {
            width: 30px;
            height: 30px;
        }
    }
}

.displayContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 240px;
    width: 100%;
}

.appDisplay {
    position: relative;
    height: 240px;
    width: 78.1%;
    * {
        padding: 0;
        border-radius: 15px;
    }
    div:nth-child(1) {
        z-index: 2;
    }
    div:nth-child(2) {
        // display: none;
        z-index: 1;
        top: 10px;
        left: 92px;
    }
    div:nth-child(3) {
        // display: none;
        top: 20px;
        left: 184px;
    }
}

.taDisplay {
    span {
        box-shadow: 6px 3px 20px 0px rgba(72, 117, 68, 0.4);
    }
    div:nth-child(3) {
        span {
            box-shadow: 3px 3px 15px 0px rgba(72, 117, 68, 0.4);
        }
    }
}

.siteDisplay {
    position: relative;
    height: 207px;
    width: 80%;
    * {
        border-radius: 15px;
    }
    div:nth-child(1) {
        z-index: 2;
    }
    div:nth-child(2) {
        // display: none;
        z-index: 1;
        top: 65px;
        left: 80px;
    }
}

.ohseaDisplay {
    span {
        box-shadow: 10px 10px 25px -2px rgba(30, 50, 78, 0.5);
    }
    div:nth-child(2) {
        span {
            box-shadow: 2px 2px 15px -2px rgba(30, 50, 78, 0.5);
        }
    }
}

.seeMore {
    cursor: pointer;
    transform: translate(0, 0px);
    position: relative;

    p {
        z-index: 1;
        margin: 0.5em 0;
        font-weight: 500;
        color: #ffffffaa;
        transition: all 0.3s;
    }

    .underline {
        position: absolute;
        bottom: 3px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #ffffff22;
        transition: all 0.3s;
    }

    &:hover {
        p {
            color: #ffffffee;
        }
        .underline {
            height: 4px;
            background-color: #ffffff55;
        }
        transition: all 0.3s;
    }
}